@model IEnumerable<week14.Models.Student>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create Student</a>
    <a asp-action="CreateCursus">Create Cursus</a>
</p>
<select id="inputSorteer" class="form-control w-100" onchange="javascript:handleSelect(this)">
        <option selected>Sorteren op...</option>
        <option value="/Student/StudentIndex?sorterenOp=id">Id</option>
        <option value="/Student/StudentIndex?sorterenOp=naam">Naam</option>
        <option value="/Student/StudentIndex?sorterenOp=cursus">cursus</option>
        <option value="/Student/StudentIndex?sorterenOp=lengte">Lengte</option>
</select>
<div>
<form asp-action="StudentIndex" method="get">
    Filter: <input type="text" name="filter" />
    <input type="submit" value="Filter" />
</form>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.studentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studentNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lengte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cursus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.studentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lengte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cursus.cursusId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.studentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.studentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.studentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
      function handleSelect(elm)
  {
     window.location = elm.value;
  }
</script>